<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445397359158-lg8gqcjbdnpbugf5dkpv2jasgeckkn73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445397359158-lg8gqcjbdnpbugf5dkpv2jasgeckkn73</string>
	<key>API_KEY</key>
	<string>AIzaSyAwaYhQpsjMCY7_LI9T6snv1j2tuBOi9s4</string>
	<key>GCM_SENDER_ID</key>
	<string>445397359158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>moviedb-c00bb</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-c00bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445397359158:ios:06dddefc5cd95abdae1697</string>
</dict>
</plist>